html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

svg.checked {
  color: yellow;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  position: absolute;
  left: -20px;
  display: block;
  content: attr(data-tooltip);
  font-size: 12px;
  background: #33333394;
  margin-top: 32px;
  padding: 4px 2px;
  width: 120px;
  border-radius: 4px;
  z-index: 99;
  text-align: center;
  color: #fff;
  transition: opacity 0.25s, transform 0.25s;
  border: 1px solid #409eff;
}

.tooltip::before {
  visibility: hidden;
}

.tooltip:hover::before {
  visibility: visible;
}

.center {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.scrub-backgound {
  background-color: transparent;
  backdrop-filter: blur(5px);
  outline: none;
  border: 2px solid #c8c8c880;
}

.dark-scrub-backgound {
  /* background-color: transparent; */
  backdrop-filter: blur(2px);
  background-color: #5a5a5a99;
  outline: none;
}

.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show-pop-y {
  transform: scaleY(1);
}

.hide-pop-y {
  transform: scaleY(0);
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gray;
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777;
}
